




.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}








/* shared items */

.btn{
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.btn:hover{
    background-color: #4f5fc6;
    font-size: 17px;
     cursor: pointer;
  
}







.navbar{
 
display: flex;
justify-content: space-around;
align-items: center;

}

.nav-elements{
    display: flex;
    
    
}

.nav-elements li{
    list-style: none;
    
}

.nav-elements li a{
    text-decoration: none;
    color: black;
     
  
}

.nav-elements li a:hover{
    color: red;
    cursor: pointer;
    

}




/* banner section starts */

.banner{
 padding: 70px 120px 134px 120px;

 background-size: cover;

background-position: center;
 background-repeat: no-repeat; 
 max-height: 1600px;




}


.banner .early{
    background-color:white ;
    border: none;
    border-radius: 30px;
    width: 195px;
    padding: 7px;
    margin: 0 auto;
    color: #198345;
    font-size: 15px;
    font-weight: 400;
    text-align: center;

}

.banner .structured{
    color: white;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    font-size:62px;

  /*   border: 2px solid red; */

 }
           
.banner .not{
    color: #30B868;
  
}

.banner .a{
    color: white;
    font-weight: 100;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
}

.banner .banner-btn {


  /*   border: 2px solid red; */
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    border-radius: 5px;
    border: none;
    font-size: 16px;

 }

.banner-btn:hover{
    background-color: #4f5fc6;
    font-size: 17px;
     cursor: pointer;

}


  .banner .banner-btn2{
  /*    border: 2px solid red; */
 background-color:transparent;
    color: white;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid white;
    margin-left: 7px;
    font-size: 16px;


  }

  .banner-btn2:hover{
      background-color: #4f5fc6;
    font-size: 17px;
     cursor: pointer;


  }


  .two-btns{
    text-align: center;
  
  }



/* main section starts */


main{
    width: 95%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
   
    margin: 0 auto;
}

main .notes{
    margin-top: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 0px;
}


 main .youre{
 text-align: center;
 font-size: 16px;
 margin-bottom: 44px;
  }




main .all-cards{
    display: flex;
   /*  align-items: center; */
    gap: 24px;
    justify-content: space-around;
}






.card1{
    
   
  display: flex;
  flex-direction: column;    
  align-items: center;        
  justify-content: center;    
  text-align: center; 
  
  box-shadow: 10px 10px 10px rgba(180, 174, 174, 0.447); 

  width: 322px 300px;
  padding: 24px;
  margin: px;

  border-radius: 10px;
    
}

.card2{
    border-radius: 10px;
  display: flex;
  flex-direction: column;    
  align-items: center;        
  justify-content: center;    
  text-align: center; 
   box-shadow: 10px 10px 10px rgba(180, 174, 174, 0.447); 

  width: 322px 300px;
  padding: 24px;
  margin: px;
}

.card3{
     border-radius: 10px;
  display: flex;
  flex-direction: column;    
  align-items: center;        
  justify-content: center;    
  text-align: center; 
  box-shadow: 10px 10px 10px rgba(180, 174, 174, 0.447);  

  width: 322px 300px;
  padding: 24px;
  margin: px;
}

.card4{
     border-radius: 10px;
  display: flex;
  flex-direction: column;    
  align-items: center;        
  justify-content: center;    
  text-align: center; 
   box-shadow: 10px 10px 10px rgba(180, 174, 174, 0.447); 

  width: 322px 300px;
  padding: 24px;
  margin: px;
}


.card1:hover{
    background-color:#82d6a5;
    cursor: pointer;
}

.card2:hover{
    background-color:#82d6a5;
    cursor: pointer;
}

.card3:hover{
    background-color:#82d6a5;
    cursor: pointer;
}

.card4:hover{
    background-color:#82d6a5;
    cursor: pointer;
}


main .all-cards .card1 img{
    background-color: red;
    border-radius: 50%;
    padding: 12px;
    max-width: 60px;
  
  margin-bottom: 10px;

}


main .all-cards .card2 img{
    background-color: red;
    border-radius: 50%;
    padding: 12px;
    max-width: 60px;
  
  margin-bottom: 10px;

}

main .all-cards .card3 img{
    background-color: red;
    border-radius: 50%;
    padding: 12px;
    max-width: 60px;
  
  margin-bottom: 10px;

}

main .all-cards .card4 img{
    background-color: red;
    border-radius: 50%;
    padding: 12px;
    max-width: 60px;
  
  margin-bottom: 10px;

}





 main .all-cards .card1 .card1-title{
 margin: 0 auto;
    align-items: center;
    font-weight:600px ;
    font-size: 24px;
 }


 
 main .all-cards .card2 .card1-title{
 margin: 0 auto;
    align-items: center;
    font-weight:600px ;
    font-size: 24px;
 }

  main .all-cards .card3 .card1-title{
 margin: 0 auto;
    align-items: center;
    font-weight:600px ;
    font-size: 24px;
 }

  main .all-cards .card4 .card1-title{
 margin: 0 auto;
    align-items: center;
    font-weight:600px ;
    font-size: 24px;
 }

  main .all-cards .card1 .card1-text{
    
    line-height: 20px;
    font-size: 16px;

   }


    main .all-cards .card2 .card1-text{
    line-height: 20px;
    font-size: 16px;

   }

    main .all-cards .card3 .card1-text{
    line-height: 20px;
    font-size: 16px;

   }

    main .all-cards .card4 .card1-text{
    line-height: 20px;
    font-size: 16px;

   }




   /* 
   brain section starts here
   */

     .full-brain{
        display: flex;
        align-items: center;
        margin-top: 120px;
        gap:60px;
        margin-bottom: 120px;
     }


     .full-brain img{
        width: 600px;
        height: 600px;
        
        border-radius: 12px;
     }


  .full-brain .the  {
    font-weight: 500;
    font-size: 16px;
    color: #30B868;
    margin-bottom: 0px;
        
     }

   .full-brain  .youre-second{
    font-weight: bold;
    font-size: 48px;
    margin-top: 10px;
   }

  .full-brain .personal{
   
    color: #627382;
    margin-bottom: 40px;

   }

 

  .top-check{
    display: flex;
  align-items: center;
  gap: 10px;    
  }


   .check {
  width: 19px;
  height: 19px;
    background-color: #30B868;
  color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: 50%;  
  font-size: 22px;
}



/* ready section starts here */



    .ready-container{

        margin-bottom: 120px;

    }





.full-ready{
/* display: flex;
flex-direction: column; */
margin: 0 auto;
/* border: 2px solid red; */
border-radius: 12px;
text-align: center;
/* width: ; */
/* max-width: 1360px 384px; */

background-color:#f2f4f3;
padding: 40px 20px;

}

.full-ready .ready{
    font-weight: bold;
    font-size: 40px;

}

 .full-ready .join{
    font-size: 16px;
    color: #627382;
     margin-bottom: 24px;

  }

 .full-ready .ready-btn{
      background-color: #30B868;
    color: white;
    padding: 12px 16px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
  }

  .ready-btn:hover{

    background-color: #4f5fc6;
    font-size: 17px;
     cursor: pointer;
  }


  .Free-during{
    font-size: 16px;
  }





