




.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}








/* shared items */

.btn{
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    border-radius: 5px;
    border: none;
}

.btn:hover{
    background-color: #4f5fc6;
    font-size: 14px;
     cursor: pointer;
  
}







.navbar{
 
display: flex;
justify-content: space-around;
align-items: center;

}

.nav-elements{
    display: flex;
    
}

.nav-elements li{
    list-style: none;
}

.nav-elements li a{
    text-decoration: none;
    color: black;
}

.nav-elements li a:hover{
    color: red;
    cursor: pointer;

}




/* banner section starts */

.banner{
 padding: 70px 120px 134px 120px;

 background-size: cover;

background-position: center;
 background-repeat: no-repeat; 
 max-height: 1600px;




}


.banner .early{
    background-color:white ;
    border: none;
    border-radius: 30px;
    width: 195px;
    padding: 7px;
    margin: 0 auto;
    color: #30B868;
    font-size: 15px;
    font-weight: 100;
    text-align: center;

}

.banner .structured{
    color: white;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    font-size:45px;

  /*   border: 2px solid red; */

 }
           
.banner .not{
    color: #30B868;
  
}

.banner .a{
    color: white;
    font-weight: 100;
    text-align: center;
    line-height: 25px;
}

.banner .banner-btn {

/*  background-color: #30B868;
    color: white;
    padding: 12px 16px;
    border-radius: 5px;
    border: none; */
    border: 2px solid red;
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    border-radius: 5px;
    border: none;

 }

.banner-btn:hover{
    background-color: #4f5fc6;
    font-size: 14px;
     cursor: pointer;

}


  .banner .banner-btn2{
     border: 2px solid red;
 background-color:transparent;
    color: white;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid white;
    margin-left: 7px;


  }

  .banner-btn2:hover{
      background-color: #4f5fc6;
    font-size: 14px;
     cursor: pointer;


  }


  .two-btns{
    text-align: center;
  
  }



